# Challenge 1 - Load and Evaluate the Datasets

In [ ]:
# Import numpy, pandas and mysqlalchemy (following what you have learned in previous lessons):

import numpy as np
import pandas as pd
from sqlalchemy import create_engine

#### In this challenge we will load two SQL tables from [this link](https://relational.fit.cvut.cz/dataset/Stats). We will then proceed to evaluate the data to see what type of cleaning and manipulation is necessary.",

In the cell below, create a mysql engine using the link provided above.

In [ ]:
"""
    hostname: relational.fit.cvut.cz
    port: 3306
    username: guest
    password: relational
"""

engine = create_engine("mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats")



Use this connection to load the users table. Load this table into a variable called users.

In [ ]:
users = pd.read_sql_query("SELECT * FROM users", engine)


### Let's start examining the dataset.

First look at the first five rows using the head function.

In [ ]:
users.head(5)

Next, examine the column names and types to see if there is a type mismatch. Use the dtypes function.

In [ ]:
users.dtypes



Finally, we'll examine the describe function to see the descriptive statistics for the numeric variables.

In [ ]:
users.describe()


### Now let's load the posts table in the cell below.

Use the same mysql engine to load the posts table into a dataframe called posts.

In [ ]:
posts = pd.read_sql_query("SELECT * FROM posts", engine)


#### Let's repeat what we did with the users table and print the first 5 rows, the data types of each column and describe the numeric data.

Do this in the following 3 cells below.

In [ ]:
posts.head(5)

In [ ]:
posts.dtypes

In [ ]:
posts.describe()

# Challenge 2 - Prepare the Datasets for Merging and Merge

### We would like to join a subset of columns from each table. To ease the process, let's create a new dataframe containing a subset of columns for both posts and users

In the cell below, create a new dataframe called posts_subset containing only the columns: Id, Score, OwnerUserID, ViewCount ,CommentCount

In [ ]:
posts_subset = posts[["Id", "Score", "OwnerUserId" , "ViewCount" , "CommentCount"]]



In the cell below, create a dataframe called users_subset containing only the columns Id, Reputation, Views, UpVotes, DownVotes.

In [ ]:
users_subset = users[["Id", "Reputation", "Views", "UpVotes", "DownVotes"]]


#### You will note that the Id column does not refer to the same thing in both tables. In the posts table, it refers to the post ID and in the users table it refers to the user ID.

In the users_subset dataframe, rename the Id column to UserId. Do this using the option inplace=True.

In [ ]:
users_subset = users_subset.rename(columns={"Id": "UserId"})

In [ ]:
users_subset.head(5)

In the posts_subset dataframe, rename the Id column to PostId. Do this using the option inplace=True.

In [ ]:
posts_subset = posts_subset.rename(columns={"Id": "PostId"})

In [ ]:
posts_subset.head(5)



We identify the only column that the two tables have in common as the user ID. However, this column is called UserId in the users_subset table and OwnerUserId in the posts_subset table. Using what we have previously learned about merging two dataframes and looking at the documentation here, merge the two dataframes. Name the merged dataframe stackoverflow.

In [ ]:
stackoverflow =  pd.merge(users_subset, posts_subset, left_on="UserId", right_on = "OwnerUserId")



Check to see if you have kept both key columns (if you join by making one of the columns an index first, this can be avoided).

If both columns are present in stackoverflow, drop OwnerUserId. Do this using inplace=True.

In [ ]:
stackoverflow.head(5)

In [ ]:
stackoverflow.drop(columns = 'OwnerUserId', inplace = True)

# Challenge 3 - Cleaning Up the Data

### Now that we have merged the two dataframes, let's handle the missing values.

Find the number of missing values in each column by applying the isna() function to the dataframe. Then apply the sum() function to that to find the count of missing values in each column.

In [ ]:
stackoverflow.isna().sum()

##### We see that about half of all observations in the view count column are missing. Let's examine these observations and why they have missing data. Create a subset of rows that have a missing value in the ViewCount. Look at the describe() function for that subset.

In [ ]:
stackoverflow_subset = stackoverflow[stackoverflow["ViewCount"].isna()]

In [ ]:
stackoverflow_subset.describe()

It seems that there is a mix of users. They do not have a high comment count but they do have some upvotes and downvotes. Therefore, it would not make sense to fill these values with zero.

If we investigate further, we will see that there are some users that have view counts missing for some posts but not others. We will cover different ways of investigating further in future lessons. What we can certainly say is that we should not fill all cells with the same values. One way to fill the values is using linear interpolation. Linear interpolation assumes that there is a line between two points and places all observations between the two points along that line. You can read more about linear interpolation here.

To apply linear interpolation to our missing data, we use the interpolate function in pandas. You can read the documentation for this function here.

In [ ]:
stackoverflow.tail(100)

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns

In [ ]:
stackoverflow_nonulls = stackoverflow[stackoverflow["ViewCount"].isna() == False]

In [ ]:
df_2 = stackoverflow_nonulls[["Views", "UpVotes", "DownVotes", "Score", "ViewCount"]]

In [ ]:
stackoverflow_nonulls.head()

In [ ]:
stackoverflow_nonulls.ViewCount = stackoverflow_nonulls.ViewCount.astype('int64')

In [ ]:
stackoverflow_nonulls.dtypes

In [ ]:
sns.pairplot(stackoverflow_nonulls, hue = "ViewCount", height = 2.5);